.data {
	padding-top: 100px;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 500px;
		background: url('../img/sky-background.jpg') no-repeat bottom / cover;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&__blocks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		overflow: hidden;
	}
	&__block {
		width: 540px;
		padding: 50px 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: rgba(255, 255, 255, 0.08);
		border: 1px solid #ffffff;
		backdrop-filter: blur(9px);
		border-radius: 20px;
		height: auto;
		margin-bottom: 20px;
		transform: translate(-100%, 0px);
		opacity: 0;
		transition: all 0.8s ease 0s;
	}
	&__block:last-child {
		transform: translate(100%, 0px);
	}
	&__block._active {
		transform: translate(0px, 0px);
		opacity: 1;
		transition: all 0.8s ease 0.2s;
	}
	&__title {
		text-align: center;
		margin: 0 auto;
		max-width: 539px;
		font-size: 60px;
		margin-bottom: 30px;
		transform: translate(0px, 120%);
		opacity: 0;
		transition: all 0.8s ease 0s;
	}
	&__title._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
	&__info {
		font-family: Manrope;
		text-align: center;
		color: #000000;
		margin-bottom: 7px;
		max-width: 320px;
	}
	&__contact {
		font-size: 40px;
		text-align: center;
		color: #0c0b10;
		margin-bottom: 15px;
	}
	span {
		font-size: 16px;
		text-align: center;
		text-transform: uppercase;
		color: #0c0b10;
		margin-bottom: 15px;
	}
	&__link {
		display: inline-block;
		background-color: #0c0b10;
		border-radius: 74px;
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		padding: 10px 0px;
		width: 280px;
	}
	&__mail {
		font-size: 24px;
		text-align: center;
		color: #000000;
	}
}
.map {
	text-align: center;
	&__card {
		height: 620px;
		width: 100%;
	}
}
.contact-restorative {
	position: fixed;
}
@media screen and(max-width: 1080px) {
	.data__blocks {
		justify-content: center;
	}
}
@media screen and(max-width: 560px) {
	.data__block {
		width: 100%;
		padding: 50px 0px;
	}
}
